body{
    margin:20px;
}
.title{
    color:whitesmoke;left:20px;position:relative;
}
.userinfo{
    font-size: 17px;
}
.title-logo{
    left: 15px;
    position: relative;
    height: 42px;
}
.hoveryellow{
    background: yellow;
}