<!DOCTYPE html>
<html ng-app="mainM">

<head>
    <title>Automatic Summrization Tool</title>
    <script src="angular.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <!-- <link href="css/layoutit.css" rel="stylesheet"> -->
    <script src="ngmodules/angular-route.js"></script>
    <script>
        angular.module("mainM", ["ngRoute", "user", "url", "userdata", "summary"])
            .config(['$routeProvider', function ($routeProvider) {
                $routeProvider.when("/deeplearning", {
                    templateUrl: "views/deeplearning.html"
                }).when("/textrank", {
                    templateUrl: "views/textrank.html"
                }).when("/userdata", {
                    templateUrl: "views/userdata.html"
                }).when("/diagram", {
                    templateUrl: "views/diagram.html"
                }).otherwise({
                    templateUrl: "views/login.html"
                })
            }])  

    </script>
    <script src="controllers/mainCtrl.js"></script>
    <script src="components/user/user.js"></script>
    <script src="controllers/loginCtrl.js"></script>
    <script src="controllers/urlCtrl.js"></script>
    <script src="controllers/userdataCtrl.js"></script>
    <script src="controllers/summaryCtrl.js"></script>
    <script src="controllers/deeplearningCtrl.js"></script>
    <script src="controllers/textrankCtrl.js"></script>
</head>

<body ng-controller="mainCtrl">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <!-- <div class="span12"> -->
                <h3 class="text-left">
                    <img src="files/img/title-logo-black.png" class="title-logo"><a href="#" class="title">文本摘要自动生成工具</a>
                <user-info class="userinfo" ng-show="usershow"/>
                </h3>
            <!-- </div> -->
        </nav>
        <div class="row-fluid" ng-controller="urlCtrl">
            <div class="span2">
                <ul class="nav nav-list well">
                    <li class="nav-header">
                        方法分类
                    </li>
                    <li ng-class="active == 'deeplearning'? 'active': null">
                        <a href="" ng-click="jumpDeeplearning()" >深度学习</a>
                    </li>
                    <li ng-class="active == 'textrank'? 'active' : null">
                        <a href="" ng-click="jumpTextrank()">基于Textrank</a>
                    </li>
                    <li ng-class="active == 'diagram'? 'active' : null">
                        <a href="" ng-click="jumpDiagram()">基于图</a>
                    </li>
                    <li class="nav-header">
                        相关
                    </li>
                    <li ng-class="active == 'userdata'? 'active': null">
                        <a href="" ng-click="jumpUserdata()">资料</a>
                    </li>
                    <li>
                        <a href="">设置</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="">帮助</a>
                    </li>
                </ul>
            </div>



            <div ng-view class="span10"></div>
        </div>
    </div>
</body>
</html>